@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Palette+Mosaic&display=swap');

body{
	font-family: 'Josefin Sans', sans-serif;
	background-color: #000000;
}

#contenedor{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}